.row-sesion{
    background-color: #f9f9f9dd;
    border-radius: 20px;
    display: grid;
    grid-template-columns:   1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px;
    height: 80px;
    place-items: center;
    
}
.row-sesion img{
    width: 55px;
    height: 45px;
    /* position: relative; */
    left: 0;
}
.info{
    font-size: 14px;
    color: #232323;
    font-weight: 500;
    
}

.info br + span{
    color: #B1B1B1;
    font-size: 13px;
}
.state-inf{
    font-weight: 600;
    color: green !important;
}

.info .bi{
    color: black;
    font-size: 15px;
}
.info .bi:hover{
    cursor: pointer;
}
.info .bi-plus-circle-fill{
    color: #567FBD;   
}

.name-stud{
    cursor: pointer;
}
.name-stud:hover{
    color: #567FBD;
    text-decoration: underline;
}

.inline-component {
    display: inline-block;
}

body.detailsShown, body.detailsShown * {
    color: #232323 !important;
}

/* --------------  */

.filter{
    background-color: rgba(165, 160, 160, 0); /* gris y transparente */
    border: none;
  }
  
  .filter option {
    color: rgba(0, 0, 0, 0.859); 
    background-color: rgba(255, 255, 255, 0.499);
  }
  
  .filter option:hover {
    background-color: rgba(227, 215, 215, 0.1); /* efecto hover */
    border: none;
  }
  