body {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif sans-serif;
    margin: 0;
    overflow-x: hidden;
}
.app {
    display: grid;
    grid-template-rows: 90px 1fr; /* Define la altura del header y el espacio restante para aside y main */
    grid-template-columns: 250px 1fr; /* Define la anchura de aside y el espacio restante para main */
    height: 100vh; /* Asegura que .app ocupa toda la altura de la vista */
}

.header {
    grid-column: 1 / -1; /* Hace que el header ocupe toda la anchura */
}
  
.aside {
    grid-row: 2;
    grid-column: 1/2; /* Hace que aside se situe en la izquierda de la pagina */
}
  
.main {
    grid-row: 2; /* Hace que main comience después de la fila del header */
    grid-column: 2/3; /* Hace que main esté en la derecha después del aside */
}

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
