#root {
  margin: 0;
  width: 100%;
  overflow-x: hidden;

}

.header{
  height: 100px;
  margin-top: 0;
  display: grid;
  grid-template-columns: 250px 1fr 200px;
  grid-template-areas: "logo barra perfil";
  
} 



.logo{
  grid-area: logo;
  display: grid;
  
  place-items: center;
}

.barra{
  grid-area: barra;
  
  line-height: 40px;
  padding: 15px;
}

.perfil{
  grid-area: perfil;
  
  padding: 10px;
}

.perfil p{
  margin-top: 0;
  font-size: 12px;
}

/* *{
  border: 1px solid black;
} */