body{

    margin: 0;
    width: 100%;
    overflow-x: hidden;
/*     
    display: grid;
    color: 5px solid black;
    
    grid-template-areas: 
        "header"
        "aside main"; */

}
*{
    border: 1px solid red;
}

.main{
    grid-area: main;
    background-color: #E5E5E5;
    margin-top: 90px;
    padding: 15px;
}